<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout>
                <pattern>%-d{yyyy-MM-dd HH:mm:ss} [ %c ][ %M ] - [ %p ] %m%n</pattern>
            </PatternLayout>
        </Console>
        <File name="File" fileName="./logs/app.log">
            <PatternLayout>
                <pattern>%-d{yyyy-MM-dd HH:mm:ss} [ %c ][ %M ] - [ %p ] %m%n</pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.catalina.util.LifecycleBase" level="error"/>
        <Logger name="org.apache.coyote.http11.Http11NioProtocol" level="warn"/>
        <Logger name="org.apache.tomcat.util.net.NioSelectorPool" level="warn"/>
        <Logger name="org.hibernate.validator.internal.util.Version" level="warn"/>
        <Logger name="org.springframework" level="info"/>
        <Logger name="org.apache.shiro" level="info"/>
        <Logger name="org.hibernate" level="info"/>
        <Logger name="org.hibernate.SQL" level="info"/>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>